<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Antonín Dvořák</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="./assets/Antonin-Dvorak.jpg">
      <p>
      <a href="https://www.britannica.com/biography/Antonin-Dvorak" target="_blank">Image Source</a>
      </p>
    </div>

    <div class="col-sm-9">
      <p>
        Antonín Leopold Dvořák was born September 8, 1841 in Nelahozeves, Bohemia, Austrian Empire (now the Czech Republic),
        just north of Prague.  He passed away May 1, 1904 in Prague, Czechlosvokia.  His notoriety was for the first Czech
        composer to receive worldwide recognition in turning folk music into 19th-century Romantic.</p>
        <p>
        Antonín Dvořák began studying harmony, piano, and organ at the age of 12 and later went to the Institute for Church
        Music in Prague, playing viola.  He had written two symphonies, an opera, chamber music and numerous songs by 1864 that
        had gone unheard.  In 1878 he first garnished attention from the Moravian Duets and Slavonic Dances.  His most famous
        piece is Symphony No.9, 'From the New World'.  He gained more fame traveling to England, Moscow and the United States,
        going on to accept director of the National Conservatory of Music in New York in 1892.</p>
        <p>
 <em class="apa-reference"><a href="https://www.britannica.com/biography/Antonin-Dvorak" target="_blank">Source</a></em>
        </p>
    </div>
  </div>
</div>
